@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    @Styles.Render("~/app-assets/css/pages-news/youtubeMonitor.css")
</head>
<body>
    
    <div class="row">
        <div class="col-12">
            <!-- Upload File Card starts -->
                <div id="youtubeContainer"></div>

        </div>
        </div>
        <!-- BEGIN: Page JS-->
        @Scripts.Render("~/app-assets/js/pages-news/youtubeMonitor.js")

        <!-- END: Page JS-->

</body>
</html>